::ng-deep .cdk-overlay-pane.delayed-dialog-container.mat-mdc-dialog-panel {
    max-width: 1000px;
    width: 700px;
}

::ng-deep .delayed-dialog-container .mat-mdc-dialog-surface {
    border-radius: 15px;
}

::ng-deep .delayed-dialog-container .dialog-content h2 {
    margin-top: 100px;
    margin-bottom: 60px;
}

::ng-deep .delayed-dialog-container .dialog-content h2 {
    text-align: center;
}
