.ag-theme-alpine.custom-grid .ag-header {
    background-color: white;
    color: black;
}

.ag-theme-alpine.custom-grid .ag-cell {
    background-color: #f0f0f0;
}

.ag-theme-alpine.custom-grid .ag-header-cell:not(:last-child) {
    border-right: 1px solid #ccc;
}

.ag-theme-alpine.custom-grid .ag-header-cell::after {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0;
    width: 1px;
    background-color: #ccc;
}

.ag-theme-alpine.custom-grid {
    border-radius: 5px;
    overflow: hidden;
}

.ag-theme-alpine.custom-grid .ag-body-viewport {
    overflow-y: auto;
}