.captcha-box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cf-turnstile {
    display: flex;
    flex-direction: column;
    align-items: center;
}