.article-page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-list-container {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding-left: 20px;
  padding-right: 20px;
  min-height: 600px;
}

.articles-action-buttons button {
  width: 125px;
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}

.articles-action-buttons button.active {
  background: rgb(201, 201, 201);
}

button.add-article.active {
  background: rgb(165, 231, 165) !important;
  color: white;
  font-size: 1rem;
}

button.delete-article {
  background: rgb(236, 145, 110) !important;
  color: white;
}

.arrow {
  display: inline-block;
  width: 1px; /* Ensures space is reserved for the arrow */
  visibility: hidden; /* Keeps space but hides the arrow */
  font-weight: bold;
}

.arrow.visible {
  visibility: visible; /* Shows the arrow when needed */
}

.articles-list {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.article-item {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: hsla(191, 59%, 84%, 0.397);
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.article-content {
  margin-bottom: 10px;
  border: 1px solid #eee;
  padding: 10px;
  background-color: #f9f9f9;
}

.article-footer {
  display: flex;
  justify-content: space-between;
}

.article-footer button {
  width: 80px;
  margin-right: 10px;
  padding: 8px 16px;
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
}

.article-footer-buttons {
  display: flex;
}

.article-date {
  font-size: 15px;
  color: gray;
}

.search-hint {
  font-size: 13px;
  color: gray;
  height: 20px;
  display: flex;
  flex-direction: left;
  align-items: center;
  margin-bottom: 40px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 3px;
  background-color: #ffff;
}

.search-container input {
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 10px;
  width: 250px;
}

.clear-btn {
  padding-bottom: 1px;
  display: flex;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  color: gray;
  width: 30px;
}

.clear-btn button{
  border: none;
  background: none;
  margin-right: 5px;
}

.no-articles {
  text-align: center;
  font-size: 20px;
  color: gray;
  padding-top: 100px;
  padding-bottom: 100px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-buttons button {
  padding: 5px 10px;
  border-radius: 3px;
  border-width: 1px;
  text-align: center;
  cursor: pointer;
}

mat-paginator {
  padding-top: 30px;
  padding-bottom: 30px;
  background: white;
}
